body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 8px;
    margin-top: 5px;
    background: #ddd;
    display: flex;
    justify-content: space-between;
}